
		{
			module: "MMM-ChartProvider-Finance",
			config: {
				id: "MMCP1",
				consumerids: ["MMCD1",],
				financefeeds: [
					{
						feedname: "TStocks",
						setid: "TJXStocks",
						rootkey: 'records',
						subject: 'countriesAndTerritories',          
						object: 'CovidDeaths',       
						value: 'deaths',
						type: "numeric",
						timestamp: 'dateRep',
						timestampformat: 'YYYY-MM-DD HH-mm',
						stocks: ['TJX','MSFT'],
					}
				]
			}
		},
		